.wrapper {
  width: 80%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  position: absolute;
}
.productModal {
  width: 60%;
  background-color: #555;
  border-radius: 0.8rem;
  margin-top: -4em;
  display: flex;
  flex-direction: column;
  align-items: center;
  -webkit-box-shadow: 1px 2px 18px 5px rgba(66, 68, 90, 1);
  -moz-box-shadow: 1px 2px 18px 5px rgba(66, 68, 90, 1);
  box-shadow: 1px 2px 18px 5px rgba(66, 68, 90, 1);
}
.productModal-top {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-bottom: 1px solid #333;
  height: 15%;
  width: 90%;
  padding: 1rem;
}
.productModal-title {
  font-family: var(--font-secondary);
  font-size: 2rem;
  margin: 0;
}
.productModal-xbtn:after {
  display: inline-block;
  content: "\00d7";
  font-size: 4rem;
  cursor: pointer;
  font-family: var(--font-secondary);
}
form {
  width: 80%;
}
.productModal-form {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
tr {
  width: 90%;
}
th {
  width: 20%;
  font-size: 1.3rem;
}
.width-100 {
  margin: 2rem 5%;
  width: 90%;
}
