.auth0-features {
  /* responsive */
  padding: 3.2rem 6.4rem;
}

.auth0-features__title {
  color: var(--white);
  font-size: 3.2rem;
  font-weight: 600;
  line-height: 3.2rem;
  margin-bottom: 4.8rem;
  /* responsive */
  margin-top: 0;
  text-align: center;
}

.auth0-features__grid {
  column-gap: 6.4rem;
  display: grid;
  /* responsive */
  grid-template-columns: 1fr 1fr;
  row-gap: 6.4rem;
}

.auth0-feature {
  background-color: var(--white);
  border-radius: 1.6rem;
  color: var(--black);
  cursor: pointer;
  display: block;
  /* responsive */
  padding: 4.8rem;
  transition: all 0.3s ease-in-out 0s;
}

.auth0-feature:hover {
  transform: scale(1.03);
}

.auth0-feature__headline {
  align-items: center;
  color: var(--black);
  display: flex;
  /* responsive */
  font-size: 2.4rem;
  font-weight: 600;
  letter-spacing: -0.05rem;
  line-height: 3.2rem;
  margin-top: 0;
}

.auth0-feature__icon {
  /* responsive */
  margin-right: 1.6rem;
}

.auth0-feature:hover .auth0-feature__headline {
  text-decoration: underline solid 2px var(--black);
  text-underline-offset: 2px;
  transition: all 0.3s ease-in-out 0s;
}

.auth0-feature__description {
  color: rgb(36, 36, 36);
  /* responsive */
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 2.4rem;
  margin: 0;
  opacity: 0.7;
}

@media only screen and (max-width: 900px) {
  .auth0-features__grid {
    grid-template-columns: 1fr;
    row-gap: 3.2rem;
  }

  .auth0-feature {
    border-radius: 0.8rem;
    padding: 3.2rem;
  }

  .auth0-feature__headline {
    font-size: 2rem;
    line-height: 2.4rem;
  }

  .auth0-feature__icon {
    height: 3.6rem;
    margin-right: 1.6rem;
  }

  .auth0-feature__description {
    font-size: 1.4rem;
    line-height: 2.2rem;
  }
}

@media only screen and (max-width: 480px) {
  .auth0-features {
    padding: 1.6rem;
  }

  .auth0-features__title {
    font-size: 2rem;
    line-height: 2.8rem;
    margin-bottom: 2.4rem;
  }

  .auth0-features__grid {
    grid-template-columns: 1fr;
    row-gap: 1.6rem;
  }

  .auth0-feature {
    border-radius: 0.8rem;
    padding: 3.2rem;
  }

  .auth0-feature__headline {
    font-size: 2rem;
    line-height: 2.4rem;
  }

  .auth0-feature__icon {
    height: 3.6rem;
    margin-right: 1.6rem;
  }

  .auth0-feature__description {
    font-size: 1.4rem;
    line-height: 2.2rem;
  }
}
