.button {
  border: 0;
  border-radius: 0.8rem;
  color: var(--white);
  cursor: pointer;
  font-family: var(--font-primary);
  font-size: 1.2rem;
  font-weight: 600;
  line-height: 2.4rem;
  min-width: 10rem;
  padding: 0.6rem 1.6rem;
  transition: background 0.3s ease-out, color 0.3s ease-out;
  user-select: none;
}

.button--primary {
  background-color: var(--indigo);
}

.button--primary:hover {
  background: rgba(62, 55, 255, 0.85);
}

.button--secondary {
  background-color: var(--mandarine);
  color: var(--white);
}

.button--secondary:hover {
  background: var(--emerald);
}
.button--third {
  background-color: var(--violet);
  color: var(--white);
}

.button--third:hover {
  background: var(--dark-violet);
}
.width-190px {
  margin: 1%;
  width: 190px;
}
.groceries {
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-shadow: 0px 0px 1rem 0 rgb(24, 141, 236);
}
.chemical {
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-shadow: 0px 0px 1rem 0 rgb(213, 23, 238);
}
.button__login,
.button__logout {
  background: var(--indigo);
  border: 0.1rem solid var(--indigo);
  border-radius: 0.8rem;
  color: var(--white);
  cursor: pointer;
  font-family: var(--font-primary);
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 600;
  line-height: 3.2rem;
  margin-right: 1.6rem;
  min-width: 8.4rem;
  padding: 0.8rem 0;
  text-align: center;
  transition: background 0.3s ease-out, color 0.3s ease-out;
  user-select: none;
  width: 40%;
}

.button__login:hover,
.button__logout:hover {
  background: rgba(62, 55, 255, 0.85);
}

.button__sign-up {
  background-color: transparent;

  border: 0.1rem solid var(--white);
  border-radius: 0.8rem;
  color: var(--white);
  cursor: pointer;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 500;
  line-height: 3.2rem;
  margin-right: 1.6rem;
  min-width: 8.4rem;
  padding: 0.8rem 0;
  text-align: center;
  user-select: none;
  width: 60%;
}

.button__login:last-child,
.button__logout:last-child,
.button__sign-up:last-child {
  margin-right: 0;
}

@media only screen and (max-width: 300px) {
  .button {
    font-size: 0.8rem;
    margin: 0.5rem;
    min-width: 0.4rem;
    padding: 0 0.2rem;
  }
  .history-storage-btn,
  .shopping-list-btn {
    line-height: 1rem;
    padding: 0.4rem 0.7rem;
  }
}
@media only screen and (min-width: 301px) and (max-width: 354px) {
  .button {
    font-size: 0.9rem;
    margin: 0.5rem;
    min-width: 0.4rem;
    padding: 0 0.4rem;
  }
  .history-storage-btn,
  .shopping-list-btn {
    line-height: 1.5rem;
    padding: 0.8rem 1rem;
  }
}
@media only screen and (min-width: 355px) and (max-width: 420px) {
  .button {
    font-size: 1rem;
    margin: 0.5rem;
    min-width: 0.4rem;
    padding: 0 0.4rem;
  }
  .history-storage-btn,
  .shopping-list-btn {
    line-height: 1.5rem;
    padding: 1rem 1.2rem;
  }
}
@media only screen and (min-width: 421px) and (max-width: 480px) {
  .button {
    line-height: 1.5rem;
    margin: 0.5rem;
    padding: 1rem 1.2rem;
  }
}
@media only screen and (min-width: 481px) and (max-width: 640px) {
  .button {
    line-height: 1.5rem;
    margin: 1rem;
    padding: 1rem 1.2rem;
  }
}
@media only screen and (min-width: 641px) {
  .button__login,
  .button__logout,
  .button__sign-up {
    font-size: 1.4rem;
    line-height: 1.6rem;
    padding: 0.8rem 1.2rem;
  }
}
@media only screen and (min-width: 641px) and (max-width: 749px) {
  .button {
    margin: 1.5rem;
  }
}
@media only screen and (min-width: 750px) {
  .button {
    margin: 2rem;
  }
}
