.mainBanner {
  align-items: center;
  background: var(--yellow-mandarine-gradient);
  color: var(--black);
  display: flex;
  flex-direction: column;
  height: clamp(50%, 90vh, 100%);
  /* responsive */
  margin: 0 auto;
  padding: 3.2rem 6.4rem;
  width: 100%;
}
.mainBanner__logo {
  align-items: center;
  background-color: var(__yellow-mandarine-gradient);
  border-radius: 50%;
  box-shadow: 0 2px 4px rgb(0 0 0 / 30%);
  display: flex;
  height: 12.8rem;
  justify-content: center;
  /* responsive */
  width: 12.8rem;
}
.mainBanner__image {
  height: 10.8rem;
  width: 10.8rem;
}
.mainBanner__h1 {
  font-size: 4.8rem;
  letter-spacing: -1.5px;
  /* responsive */
  margin: 2.4rem 0 8px 0;
}

.mainBanner__description {
  font-size: 20px;
  line-height: 3.2rem;
  /* responsive */
  margin-bottom: 3.2rem;
  max-width: 58rem;
  text-align: center;
}
@media only screen and (max-width: 540px) {
  .mainBanner {
    padding: 3.2rem 1.6rem;
  }

  .mainBanner__logo {
    height: 15rem;
    width: 15rem;
  }

  .mainBanner__image {
    height: 10rem;
    width: 10rem;
  }
  .mainBanner__h1 {
    font-size: 3.2rem;
  }

  .mainBanner__description {
    font-size: 1.6rem;
    line-height: 2.4rem;
  }
}
