@keyframes modal-paragraph {
  0% {
    color: rgba(0, 0, 0, 0.5);
  }
  20% {
    color: rgba(255, 255, 255, 1);
  }
  100% {
    color: rgba(255, 255, 255, 1);
  }
}
.ok-wrapper {
  position: fixed;
  height: 50%;
  width: 30%;
  top: 10%;
  z-index: 5;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-left: 29%;
}
.ok-circle {
  position: relative;
  width: 20rem;
  height: 20rem;
  background-color: green;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  -webkit-box-shadow: 0px 0px 41px -4px rgb(120, 168, 134);
  -moz-box-shadow: 0px 0px 41px -4px rgb(120, 168, 134);
  box-shadow: 0px 0px 41px -4px rgb(120, 168, 134);
}
.ok-ok {
  font-size: 10rem;
  color: rgba(0, 0, 0, 0.5);
  animation-name: modal-paragraph;
  animation-duration: 0.5s;
}
