/* .content-body{
  line-height: wiekosc tabeli;
} */

.table-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  border-radius: 0.8rem;
  margin-top: 3.2rem;
  overflow: hidden;
  background-color: #444;
  padding: 0 1rem;
}
.table-admin-wrapper {
  margin: 0.7rem 0.4rem;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.table-responsive {
  overflow-x: auto;
  margin-top: 0.7rem;
  width: 100%;
}
.history {
  padding: 0 10rem;
}
.table-select-label {
  width: clamp(10rem, 20%, 40%);
}
.table-select {
  width: clamp(10rem, 20%, 50%);
}
.table-select-222 {
  width: 20%;
  margin: 0 2rem 0.5em 2rem;
  background-color: #333;
}
.table-select-button-none {
  width: none;
}
table {
  font-family: arial, sans-serif;
  font-size: 0.8em;
  border-collapse: collapse;
  width: 100%;
}
.option {
  background: #fff;
  height: 100%;
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin: 0 0.625rem;
  border-radius: 0.6em;
  cursor: pointer;
  padding: 0 0.625rem;
  border: 2px solid lightgrey;
  transition: all 0.3s ease;
}
.option .dot {
  height: 1.25rem;
  width: 1.25rem;
  background: #d9d9d9;
  border-radius: 50%;
  position: relative;
}
.option .dot::before {
  position: absolute;
  content: "";
  top: 0.25rem;
  left: 0.25rem;
  width: 0.75rem;
  height: 0.75rem;
  background: var(--indigo);
  border-radius: 50%;
  opacity: 0;
  transform: scale(1.5);
  transition: all 0.3s ease;
}
input[type="radio"] {
  display: none;
}
#groceries:checked:checked ~ .option-1 {
  border-color: var(--indigo);
  background: var(--indigo);
}
#chemical:checked:checked ~ .option-2 {
  border-color: var(--violet);
  background: var(--violet);
}
#groceries:checked:checked ~ .option-1 .dot,
#chemical:checked:checked ~ .option-2 .dot {
  background: #fff;
}
#chemical:checked:checked ~ .option-2 .dot::before {
  background: var(--violet);
}
#groceries:checked:checked ~ .option-1 .dot::before,
#chemical:checked:checked ~ .option-2 .dot::before {
  opacity: 1;
  transform: scale(1);
}
.option span {
  font-size: 1.2rem;
  color: #808080;
}
#groceries:checked:checked ~ .option-1 span,
#chemical:checked:checked ~ .option-2 span {
  color: #fff;
}
.groceries-flash {
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 20px;
  box-shadow: inset 0px 0px 1rem 0 rgb(24, 141, 236);
}
.chemical-flash {
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 20px;
  box-shadow: inset 0px 0px 1rem 0 rgb(213, 23, 238);
}
.handle-error {
  margin: 0.8rem;
  text-align: center;
  font-size: 2rem;
  font-family: var(--font-mono);
}
.container-handle-error {
  width: 90vw;
  padding: 5rem;
}
.category-error {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60%;
  background-color: rgba(255, 50, 50, 0.6);
  border-radius: 0.6em;
  margin: 2% 0;
}
.error-paragraph {
  font-family: var(--font-secondary);
  margin: 1rem;
}
td,
th {
  padding: 6px;
  text-transform: capitalize;
  text-align: center;
}
tr {
  height: 10px;
}
tr:nth-child(even) {
  background-color: #222;
}
tr:hover {
  background-color: #666;
}
tr:first-child:hover {
  background-color: #444;
}
input {
  background-color: #222;
  border: solid white 1px;
  color: white;
}
input::placeholder {
  color: white;
  font-size: 1.2rem;
  text-align: center;
}
input:focus {
  outline: 2px solid var(--mandarine);
  border: none;
}
.parent-edit-trash {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.edit {
  font-size: 3rem;
  font-weight: bold;
  cursor: pointer;
  position: relative;
  display: inline-block;
}
.edit .edit-tooltiptext {
  visibility: hidden;
  width: 50px;
  background-color: rgba(0, 0, 0, 0.8);
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;
  font-size: 1rem;

  /* Position the tooltip text - see examples below! */
  position: absolute;
  z-index: 1;
  top: -5px;
  right: 105%;
}
.edit:hover .edit-tooltiptext {
  visibility: visible;
}
.edit:hover {
  color: var(--yellow);
}

.trash {
  font-size: 2rem;
  font-weight: bold;
  cursor: pointer;
  position: relative;
  display: inline-block;
}
.trash .trash-tooltiptext {
  visibility: hidden;
  width: 40px;
  background-color: rgba(0, 0, 0, 0.8);
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;
  top: -5px;
  right: 105%;
  font-size: 1rem;

  /* Position the tooltip text - see examples below! */
  position: absolute;
  z-index: 1;
}
.trash:hover .trash-tooltiptext {
  visibility: visible;
}
.trash:hover {
  color: var(--mandarine);
}
select {
  border-radius: 0.6rem;
  background-color: #222;
  text-transform: capitalize;
  color: #fff;
  font-family: var(--font-primary);
}
@media only screen and (max-width: 300px) {
  table {
    font-size: 0.8rem;
  }
  .edit {
    font-size: 1.5rem;
  }
  .trash {
    font-size: 1rem;
  }
  td,
  th {
    padding: 2px;
  }
  .option {
    padding: 0;
    margin: 0.625rem;
  }
  .option span {
    font-size: 0.9rem;
  }
  .table-select-label {
    font-size: 0.8rem;
  }
  .history {
    padding: 0 1rem;
  }
  .category-error {
    width: 95%;
  }
  .error-paragraph {
    font-size: 1rem;
  }
}
@media only screen and (min-width: 300px) and (max-width: 355px) {
  table {
    font-size: 0.8rem;
  }
  .edit {
    font-size: 1.8rem;
  }
  .trash {
    font-size: 1.5rem;
  }
  .table-header {
    font-size: 0.7rem;
  }
  td,
  th {
    padding: 2px;
  }
  .option {
    padding: 0;
    margin: 0.625rem;
  }
  .option span {
    font-size: 0.9rem;
  }
  .table-select-label {
    font-size: 0.9rem;
  }
  .history {
    padding: 0 1rem;
  }
  .category-error {
    width: 95%;
  }
  .error-paragraph {
    font-size: 1.2rem;
  }
}
@media only screen and (min-width: 355px) and (max-width: 420px) {
  table {
    font-size: 1rem;
  }
  .edit {
    font-size: 2rem;
  }
  .trash {
    font-size: 1.8rem;
  }
  .table-header {
    font-size: 1rem;
  }
  td,
  th {
    padding: 2px;
  }
  .option {
    padding: 0;
    margin: 0.625rem;
  }
  .option span {
    font-size: 0.9rem;
  }

  .table-select-label {
    font-size: 1rem;
  }
  .history {
    padding: 0 1rem;
  }
  .category-error {
    width: 95%;
  }
  .error-paragraph {
    font-size: 1.5rem;
  }
}
@media only screen and (min-width: 420px) and (max-width: 480px) {
  .table-header {
    font-size: 1.1rem;
  }
  td,
  th {
    padding: 3px;
  }
  .option {
    padding: 0;
    margin: 0.625rem;
  }
  .option span {
    font-size: 0.9rem;
  }
  .table-select-label {
    font-size: 1rem;
  }
  .history {
    padding: 0 1rem;
  }
  .category-error {
    width: 95%;
  }
  .error-paragraph {
    font-size: 2rem;
  }
}
@media only screen and (min-width: 481px) and (max-width: 640px) {
  .table-header {
    font-size: 1.2rem;
  }
  td,
  th {
    padding: 3px;
  }
  .option {
    padding: 0;
    margin: 0.625rem;
  }
  .option span {
    font-size: 0.9rem;
  }
  .table-select-label {
    font-size: 1.2rem;
  }
  .history {
    padding: 0 1rem;
  }
  .category-error {
    width: 95%;
  }
  .error-paragraph {
    font-size: 2rem;
  }
}
@media only screen and (min-width: 641px) and (max-width: 749px) {
  td,
  th {
    padding: 3px;
  }
  .option {
    padding: 0;
    margin: 0.625rem;
  }
  .option span {
    font-size: 0.9rem;
  }
  .history {
    padding: 0 1rem;
  }
}
@media only screen and (min-width: 750px) {
  .option {
    padding: 0;
    margin: 0.625rem;
  }
  .option span {
    font-size: 0.9rem;
  }
}
