.table__body {
  align-items: center;
  background-color: #444;
  border-radius: 0.8rem;
  display: flex;
  flex-direction: column;
  margin-top: 3.2rem;
  overflow: hidden;
  padding: 0 1rem;
  width: 100%;
}
.table__admin-wrapper {
  align-items: center;
  display: flex;
  justify-content: center;
  margin: 0.7rem 0.4rem;
  width: 100%;
}
.table-responsive {
  margin-top: 0.7rem;
  overflow-x: auto;
  width: 100%;
}
.admin__select-label {
  width: clamp(10rem, 20%, 40%);
}
.admin__select {
  width: clamp(10rem, 20%, 50%);
}
.history {
  padding: 0 10rem;
}
table {
  border-collapse: collapse;
  font-family: arial, sans-serif;
  font-size: 0.8em;
  width: 100%;
}
.option {
  align-items: center;
  background: #fff;
  border: 2px solid lightgrey;
  border-radius: 0.6em;
  cursor: pointer;
  display: flex;
  height: 100%;
  justify-content: space-evenly;
  margin: 0 0.625rem;
  padding: 0 0.625rem;
  transition: all 0.3s ease;
  width: 80%;
}
.option .dot {
  background: #d9d9d9;
  border-radius: 50%;
  height: 1.25rem;
  position: relative;
  width: 1.25rem;
}
.option .dot::before {
  background: var(--indigo);
  border-radius: 50%;
  content: "";
  height: 0.75rem;
  left: 0.25rem;
  opacity: 0;
  position: absolute;
  top: 0.25rem;
  transform: scale(1.5);
  transition: all 0.3s ease;
  width: 0.75rem;
}
input[type="radio"] {
  display: none;
}
#groceries:checked:checked ~ .option-1 {
  background: var(--indigo);
  border-color: var(--indigo);
}
#chemical:checked:checked ~ .option-2 {
  background: var(--violet);
  border-color: var(--violet);
}
#groceries:checked:checked ~ .option-1 .dot,
#chemical:checked:checked ~ .option-2 .dot {
  background: #fff;
}
#chemical:checked:checked ~ .option-2 .dot::before {
  background: var(--violet);
}
#groceries:checked:checked ~ .option-1 .dot::before,
#chemical:checked:checked ~ .option-2 .dot::before {
  opacity: 1;
  transform: scale(1);
}
.option span {
  color: #808080;
  font-size: 1.2rem;
}
#groceries:checked:checked ~ .option-1 span,
#chemical:checked:checked ~ .option-2 span {
  color: #fff;
}
.groceries-flash {
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 20px;
  box-shadow: inset 0px 0px 1rem 0 rgb(24, 141, 236);
}
.chemical-flash {
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 20px;
  box-shadow: inset 0px 0px 1rem 0 rgb(213, 23, 238);
}
.storage__error {
  font-family: var(--font-mono);
  font-size: 2rem;
  margin: 0.8rem;
  text-align: center;
}
.category__error {
  align-items: center;
  background-color: rgba(255, 50, 50, 0.6);
  border-radius: 0.6em;
  display: flex;
  justify-content: center;
  margin: 2% 0;
  width: 60%;
}
.error__paragraph {
  font-family: var(--font-secondary);
  margin: 1rem;
}
td,
th {
  padding: 6px;
  text-align: center;
  text-transform: capitalize;
}
tr {
  height: 10px;
}
tr:nth-child(even) {
  background-color: #222;
}
tr:hover {
  background-color: #666;
}
tr:first-child:hover {
  background-color: #444;
}
input {
  background-color: #222;
  border: solid white 1px;
  color: white;
}
input::placeholder {
  color: white;
  font-size: 1.2rem;
  text-align: center;
}
input:focus {
  border: none;
  outline: 2px solid var(--mandarine);
}
.container__controls {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.controls__edit {
  cursor: pointer;
  display: inline-block;
  font-size: 3rem;
  font-weight: bold;
  position: relative;
}
.controls__edit .controls__edit-tooltiptext {
  background-color: rgba(0, 0, 0, 0.8);
  border-radius: 0.6em;
  color: #fff;
  font-size: 1rem;
  padding: 0.4rem 0;
  position: absolute;
  right: 105%;
  text-align: center;
  top: -5px;
  visibility: hidden;
  width: 50px;
  z-index: 1;
}
.controls__edit:hover .controls__edit-tooltiptext {
  visibility: visible;
}
.controls__edit:hover {
  color: var(--yellow);
}

.controls__trash {
  cursor: pointer;
  display: inline-block;
  font-size: 2rem;
  font-weight: bold;
  position: relative;
}
.controls__trash .controls__trash-tooltiptext {
  background-color: rgba(0, 0, 0, 0.8);
  border-radius: 0.6em;
  color: #fff;
  font-size: 1rem;
  padding: 0.4rem 0;
  position: absolute;
  right: 105%;
  text-align: center;
  top: -5px;
  visibility: hidden;
  width: 40px;
  z-index: 1;
}
.controls__trash:hover .controls__trash-tooltiptext {
  visibility: visible;
}
.controls__trash:hover {
  color: var(--mandarine);
}
select {
  background-color: #222;
  border-radius: 0.6rem;
  color: #fff;
  font-family: var(--font-primary);
  text-transform: capitalize;
}
@media only screen and (max-width: 300px) {
  table {
    font-size: 0.8rem;
  }
  .edit {
    font-size: 1.5rem;
  }
  .trash {
    font-size: 1rem;
  }
  td,
  th {
    padding: 2px;
  }
  .option {
    margin: 0.625rem;
    padding: 0;
  }
  .option span {
    font-size: 0.9rem;
  }
  .table-select-label {
    font-size: 0.8rem;
  }
  .history {
    padding: 0 1rem;
  }
  .category-error {
    width: 95%;
  }
  .error-paragraph {
    font-size: 1rem;
  }
}
@media only screen and (min-width: 300px) and (max-width: 355px) {
  table {
    font-size: 0.8rem;
  }
  .edit {
    font-size: 1.8rem;
  }
  .trash {
    font-size: 1.5rem;
  }
  .table-header {
    font-size: 0.7rem;
  }
  td,
  th {
    padding: 2px;
  }
  .option {
    margin: 0.625rem;
    padding: 0;
  }
  .option span {
    font-size: 0.9rem;
  }
  .table-select-label {
    font-size: 0.9rem;
  }
  .history {
    padding: 0 1rem;
  }
  .category-error {
    width: 95%;
  }
  .error-paragraph {
    font-size: 1.2rem;
  }
}
@media only screen and (min-width: 355px) and (max-width: 420px) {
  table {
    font-size: 1rem;
  }
  .edit {
    font-size: 2rem;
  }
  .trash {
    font-size: 1.8rem;
  }
  .table-header {
    font-size: 1rem;
  }
  td,
  th {
    padding: 2px;
  }
  .option {
    margin: 0.625rem;
    padding: 0;
  }
  .option span {
    font-size: 0.9rem;
  }

  .table-select-label {
    font-size: 1rem;
  }
  .history {
    padding: 0 1rem;
  }
  .category-error {
    width: 95%;
  }
  .error-paragraph {
    font-size: 1.5rem;
  }
}
@media only screen and (min-width: 420px) and (max-width: 480px) {
  .table-header {
    font-size: 1.1rem;
  }
  td,
  th {
    padding: 3px;
  }
  .option {
    margin: 0.625rem;
    padding: 0;
  }
  .option span {
    font-size: 0.9rem;
  }
  .table-select-label {
    font-size: 1rem;
  }
  .history {
    padding: 0 1rem;
  }
  .category-error {
    width: 95%;
  }
  .error-paragraph {
    font-size: 2rem;
  }
}
@media only screen and (min-width: 481px) and (max-width: 640px) {
  .table-header {
    font-size: 1.2rem;
  }
  td,
  th {
    padding: 3px;
  }
  .option {
    margin: 0.625rem;
    padding: 0;
  }
  .option span {
    font-size: 0.9rem;
  }
  .table-select-label {
    font-size: 1.2rem;
  }
  .history {
    padding: 0 1rem;
  }
  .category-error {
    width: 95%;
  }
  .error-paragraph {
    font-size: 2rem;
  }
}
@media only screen and (min-width: 641px) and (max-width: 749px) {
  td,
  th {
    padding: 3px;
  }
  .option {
    margin: 0.625rem;
    padding: 0;
  }
  .option span {
    font-size: 0.9rem;
  }
  .history {
    padding: 0 1rem;
  }
}
@media only screen and (min-width: 750px) {
  .option {
    margin: 0.625rem;
    padding: 0;
  }
  .option span {
    font-size: 0.9rem;
  }
}
