/* .content-body{
  line-height: wiekosc tabeli;
} */

.table-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  border-radius: 0.8rem;
  margin-top: 3.2rem;
  overflow: hidden;
  background-color: #444;
  padding: 0 1rem;
}
.table-admin-wrapper {
  margin: 2% 1%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.table-responsive {
  margin-top: 2%;
}
.history {
  padding: 0 10rem;
}
.table-select-label {
  /* margin-top: 1em; */
  width: clamp(20rem, 20%, 50%);
}
.table-select {
  width: clamp(20rem, 20%, 50%);
  /* margin-bottom: 0.5em; */
}
.table-select-222 {
  width: 20%;
  margin: 0 2rem 0.5em 2rem;
  background-color: #333;
}
.table-select-button {
  width: clamp(20rem, 20%, 50%);
  margin-left: 5%;
}
.table-select-button-none {
  width: none;
}
.table-responsive {
  overflow-x: auto;
}
table {
  font-family: arial, sans-serif;
  font-size: 0.8em;
  border-collapse: collapse;
}
.width-190px {
  width: 190px;
}
.option {
  background: #fff;
  height: 100%;
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin: 0 10px;
  border-radius: 0.6em;
  cursor: pointer;
  padding: 0 10px;
  border: 2px solid lightgrey;
  transition: all 0.3s ease;
}
.option .dot {
  height: 20px;
  width: 20px;
  background: #d9d9d9;
  border-radius: 50%;
  position: relative;
}
.option .dot::before {
  position: absolute;
  content: "";
  top: 4px;
  left: 4px;
  width: 12px;
  height: 12px;
  background: var(--indigo);
  border-radius: 50%;
  opacity: 0;
  transform: scale(1.5);
  transition: all 0.3s ease;
}
input[type="radio"] {
  display: none;
}
#groceries:checked:checked ~ .option-1 {
  border-color: var(--indigo);
  background: var(--indigo);
}
#chemical:checked:checked ~ .option-2 {
  border-color: var(--violet);
  background: var(--violet);
}
#groceries:checked:checked ~ .option-1 .dot,
#chemical:checked:checked ~ .option-2 .dot {
  background: #fff;
}
#chemical:checked:checked ~ .option-2 .dot::before {
  background: var(--violet);
}
#groceries:checked:checked ~ .option-1 .dot::before,
#chemical:checked:checked ~ .option-2 .dot::before {
  opacity: 1;
  transform: scale(1);
}
.option span {
  font-size: 1.2rem;
  color: #808080;
}
#groceries:checked:checked ~ .option-1 span,
#chemical:checked:checked ~ .option-2 span {
  color: #fff;
}

@media only screen and (max-width: 480px) {
  .width-190px {
    /* responsive */
    width: 100px;
  }
  .history {
    padding: 0 1rem;
  }
}
td,
th {
  text-align: left;
  padding: 6px;
  text-transform: capitalize;
  text-align: center;
}
tr {
  height: 10px;
}
tr:nth-child(even) {
  background-color: #222;
}
tr:hover {
  background-color: #666;
}
tr:first-child:hover {
  background-color: #444;
}
input {
  background-color: #222;
  border: solid white 1px;
  color: white;
}
input::placeholder {
  color: white;
  font-size: 1.2rem;
  text-align: center;
}
input:focus {
  outline: 2px solid var(--mandarine);
  border: none;
}
.parent-edit-trash {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.edit {
  font-size: 3rem;
  font-weight: bold;
  cursor: pointer;
  position: relative;
  display: inline-block;
}
.edit .edit-tooltiptext {
  visibility: hidden;
  width: 50px;
  background-color: rgba(0, 0, 0, 0.8);
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;
  font-size: 1rem;

  /* Position the tooltip text - see examples below! */
  position: absolute;
  z-index: 1;
  top: -5px;
  right: 105%;
}
.edit:hover .edit-tooltiptext {
  visibility: visible;
}
.edit:hover {
  color: var(--yellow);
}

.trash {
  font-size: 2rem;
  font-weight: bold;
  cursor: pointer;
  position: relative;
  display: inline-block;
}
.trash .trash-tooltiptext {
  visibility: hidden;
  width: 40px;
  background-color: rgba(0, 0, 0, 0.8);
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;
  top: -5px;
  right: 105%;
  font-size: 1rem;

  /* Position the tooltip text - see examples below! */
  position: absolute;
  z-index: 1;
}
.trash:hover .trash-tooltiptext {
  visibility: visible;
}
.trash:hover {
  color: var(--mandarine);
}
select {
  border-radius: 0.6rem;
  background-color: #222;
  text-transform: capitalize;
  color: #fff;
  font-family: var(--font-primary);
}
