.table-body {
  display: flex;
  flex-direction: column;
  width: 100%;
  border-radius: 0.8rem;
  margin-top: 3.2rem;
  overflow: hidden;
  background-color: #444;
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}
.width-190px {
  width: 190px;
}
td,
th {
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #222;
}
tr:hover {
  background-color: #666;
}
tr:first-child:hover {
  background-color: #444;
}
input {
  background-color: #222;
  border: solid white 1px;
  color: white;
}
input::placeholder {
  color: white;
  font-size: 1.2rem;
  text-align: center;
}
input:focus {
  outline: 2px solid var(--mandarine);
  border: none;
}
.parent-plus-trash {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.plus {
  font-size: 3rem;
  font-weight: bold;
  cursor: pointer;
  margin-right: 4rem;
  position: relative;
  display: inline-block;
}
.plus .plus-tooltiptext {
  visibility: hidden;
  width: 50px;
  background-color: rgba(0, 0, 0, 0.8);
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;
  font-size: 1rem;

  /* Position the tooltip text - see examples below! */
  position: absolute;
  z-index: 1;
  top: -5px;
  right: 105%;
}
.plus:hover .plus-tooltiptext {
  visibility: visible;
}
.plus:hover {
  color: var(--yellow);
}

.trash {
  font-size: 2rem;
  font-weight: bold;
  cursor: pointer;
  position: relative;
  display: inline-block;
}
.trash .trash-tooltiptext {
  visibility: hidden;
  width: 40px;
  background-color: rgba(0, 0, 0, 0.8);
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;
  top: -5px;
  right: 105%;
  font-size: 1rem;

  /* Position the tooltip text - see examples below! */
  position: absolute;
  z-index: 1;
}
.trash:hover .trash-tooltiptext {
  visibility: visible;
}
.trash:hover {
  color: var(--mandarine);
}
